{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="help-page">
	{% if name %}
	  <center>
	    <h3>Thanks {{name}}</h3>
	    <p>We Received Your Message and The Next Available Agent Will Respond Shortly</p>
	  </center>
      <br/><br><br><br><br/>
      <br/><br><br><br><br/>
      <br/><br><br><br><br/>
    {% else %}
	<div class="page-container">
		 <br/><br><br/>
		 <h1>Experiencing Any Problem In Our Page <br> Here is Your solution</h1>
         <p>Fill in the form describing your problem and get help immediately!!</p>
		<div class="container-form">
			<form action="" method="post" class="form-control-sm">
				{% csrf_token %}
				{{ form.as_p }}
				<div class="col-auto">
                    <button type="submit" class="bttn">SEND</button>
                </div>
			</form>

			
		</div>
    {% endif %}		
		
	</div>
	<br/><br><br/>
	<br/><br><br/>
	
	
</div>






















{% endblock content %}